# Imersão de Pandas - Teo Me Why

### Breve revisão de Python - Turbo

#### Strings

In [2]:
nome = "Téo Calvo"
print(nome)

Téo Calvo

In [3]:
nome.upper()

'TÉO CALVO'

In [4]:
nome.lower()

'téo calvo'

In [5]:
nome[:3]

'Téo'

In [7]:
nome[::-1] # -> start; stop; step

'ovlaC oéT'

In [8]:
nome[::2]

'ToClo'

#### Numéricos

In [9]:
type(1)

int

In [10]:
type(1.)

float

In [11]:
type(True)

bool

In [17]:
print(1 + 1. + True) # soma
print(2 ** 3)        # potência
print(3 * 2)         # muiltiplicação
print(3 / 2)         # divisão
print( 3 % 2)        # resto da divisão
print( 3 // 2)       # divisão inteira

3.0
8
6
1.5
1
1

#### Listas
* list comprehension

In [19]:
minha_lista = ["Téo", 28, ["Maria", "Jozefina", "Natalia"], True ]

In [22]:
len(minha_lista) # Quantidade de elementos na lista

4

In [24]:
minha_lista[0] # Primeiro elemento

'Téo'

In [25]:
minha_lista[-1]

True

In [30]:
minha_lista[2][0]

'Maria'

In [32]:
minha_lista[2][::-1]

['Natalia', 'Jozefina', 'Maria']

#### Dicionários

In [35]:
dados = { "nome":["Téo", "Nah", "Lara"],
          "sobrenome":["Calvo", "Gironde", "Calvo"],
          "idade":[28,30,27]
        }

In [39]:
dados["nome"][0]

'Téo'

In [40]:
dados["genero"] = ["M", "F", "F"]

In [43]:
dados["nome"][0].lower()

'téo'

#### If, Else, Elif

In [46]:
idade = input( "Entre com a sua idade" )
idade = int(idade)

if idade < 18:
    print("Beba leite que é para sua idade")
    
elif idade <= 65:
    print("Beba a vontade, mas sem dirigir")
    
else:
    print("Cuidado, pois sua idade é avançada")

Entre com a sua idade70
Cuidado, pois sua idade é avançada

#### For & While

In [50]:
for i in range(1,11):
    if i % 2 == 0:
        print(i, "é par")
    else:
        print(i, "é impar")

1 é impar
2 é par
3 é impar
4 é par
5 é impar
6 é par
7 é impar
8 é par
9 é impar
10 é par

In [54]:
i = 1
while True:
    print(i)
    if i == 10:
        break
    i += 1

1
2
3
4
5
6
7
8
9
10

In [56]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

#### Funções

In [57]:
def calc_cubo(x):
    return x ** 3

In [58]:
calc_cubo(4)

64

In [59]:
def funcao_bivariada(x, y):
    return 2 * x + 4 * (y ** 3)

In [60]:
funcao_bivariada(10, 4)

276

## Finalmente, Pandas!!

Fingindo um pouco a análise de dados

### Comandos básicos

* Importação da biblioteca
* O que são Series e Dataframes?
    - Criando o primeiro dataframe
* Leitura de arquivos
* Escrita de arquivos
* Operações básicas de DataFrame

In [61]:
import pandas as pd # Importa a biblica Pandas com o alias (apelido) pd

### Séries

In [65]:
minha_serie = pd.Series( ["Téo", "Nah", "Lara", "Ju"] )
minha_serie

0     Téo
1     Nah
2    Lara
3      Ju
dtype: object

In [68]:
minha_serie[1:]

1     Nah
2    Lara
3      Ju
dtype: object

In [77]:
minha_serie.name

In [90]:
dados = ["Téo", "Nah", "Lara", "Ju"]
nova_serie = pd.Series(dados, name="nome")

In [92]:
nova_serie == "Téo"

0     True
1    False
2    False
3    False
Name: nome, dtype: bool

In [93]:
idade = pd.Series( [23,54,65,23,12,54,7,88] )
idade

0    23
1    54
2    65
3    23
4    12
5    54
6     7
7    88
dtype: int64

In [94]:
idade * 10

0     True
1     True
2     True
3     True
4    False
5     True
6    False
7     True
dtype: bool

### Data Frames

In [114]:
dados = { "nome":["Téo", "Nah", "Lara", "Ju"],
          "sobrenome":["Calvo", "Gironde", "Calvo", "Duc"],
          "idade":[28,30,27,26],
        }

df_dados = pd.DataFrame(dados)

In [103]:
dados["nome"]

['Téo', 'Nah', 'Lara', 'Ju']

In [110]:
df_dados["nome"]

0     Téo
1     Nah
2    Lara
3      Ju
Name: nome, dtype: object

In [111]:
df_dados["nome"].tolist()

['Téo', 'Nah', 'Lara', 'Ju']

## Importando dados

In [115]:
df_votacao = pd.read_csv("../data/votacao_agg_estado.csv")

/home/teo/anaconda3/envs/twitch/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [120]:
df_votacao.head(2) # Retorna as duas primeiras linhas do dataframe

,ano_eleicao,descricao_eleicao,numero_turno,nome_partido,numero_partido,sigla_partido,descricao_cargo,descricao_situacao_candidatura,descricao_situacao_candidatura_superior,nome,...,total_votos_to,total_votos_pa,total_votos_ms,total_votos_pi,total_votos_ma,total_votos_df,total_votos_es,total_votos_rr,total_votos_sc,total_votos
0,2014,ELEICAO SUPLEMENTAR GOVERNADOR AM,1,PARTIDO DEMOCRATICO TRABALHISTA,12,PDT,GOVERNADOR,DEFERIDO,APTO,AMAZONINO ARMANDO MENDES,...,0,0,0,0,0,0,0,0,0,577397
1,2014,ELEICAO SUPLEMENTAR GOVERNADOR AM,1,PARTIDO DO MOVIMENTO DEMOCRATICO BRASILEIRO,15,PMDB,GOVERNADOR,DEFERIDO,APTO,CARLOS EDUARDO DE SOUZA BRAGA,...,0,0,0,0,0,0,0,0,0,377680

In [123]:
df_votacao.tail(2) # Mostra as últimas 2 linhas

,ano_eleicao,descricao_eleicao,numero_turno,nome_partido,numero_partido,sigla_partido,descricao_cargo,descricao_situacao_candidatura,descricao_situacao_candidatura_superior,nome,...,total_votos_to,total_votos_pa,total_votos_ms,total_votos_pi,total_votos_ma,total_votos_df,total_votos_es,total_votos_rr,total_votos_sc,total_votos
511103,2018,ELEICOES GERAIS ESTADUAIS 2018,2,PARTIDO SOCIALISTA BRASILEIRO,40,PSB,GOVERNADOR,APTO,NaN,MARCIO LUIZ FRANCA GOMES,...,0,0,0,0,0,0,0,0,0,20497480
511104,2018,ELEICOES GERAIS ESTADUAIS 2018,2,PARTIDO SOCIALISTA BRASILEIRO,40,PSB,GOVERNADOR,APTO,NaN,RODRIGO SOBRAL ROLLEMBERG,...,0,0,0,0,0,451329,0,0,0,451329

In [124]:
# Dimensoes do dataframe
df_votacao.shape

(511105, 43)

In [131]:
# Quais são suas colunas?
df_votacao.columns.tolist()

['ano_eleicao',
 'descricao_eleicao',
 'numero_turno',
 'nome_partido',
 'numero_partido',
 'sigla_partido',
 'descricao_cargo',
 'descricao_situacao_candidatura',
 'descricao_situacao_candidatura_superior',
 'nome',
 'nome_social',
 'nome_urna',
 'numero_sequencial',
 'numero_urna',
 'total_votos_ac',
 'total_votos_al',
 'total_votos_am',
 'total_votos_ap',
 'total_votos_ba',
 'total_votos_rj',
 'total_votos_sp',
 'total_votos_ce',
 'total_votos_ro',
 'total_votos_se',
 'total_votos_pr',
 'total_votos_mg',
 'total_votos_mt',
 'total_votos_pe',
 'total_votos_pb',
 'total_votos_zz',
 'total_votos_go',
 'total_votos_rs',
 'total_votos_rn',
 'total_votos_to',
 'total_votos_pa',
 'total_votos_ms',
 'total_votos_pi',
 'total_votos_ma',
 'total_votos_df',
 'total_votos_es',
 'total_votos_rr',
 'total_votos_sc',
 'total_votos']

In [129]:
# Indices
df_votacao.index

RangeIndex(start=0, stop=511105, step=1)

## Utilitários

In [134]:
df_votacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511105 entries, 0 to 511104
Data columns (total 43 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   ano_eleicao                              511105 non-null  int64
 1   descricao_eleicao                        511105 non-null  object
 2   numero_turno                             511105 non-null  int64
 3   nome_partido                             511105 non-null  object
 4   numero_partido                           511105 non-null  int64
 5   sigla_partido                            511105 non-null  object
 6   descricao_cargo                          511105 non-null  object
 7   descricao_situacao_candidatura           511105 non-null  object
 8   descricao_situacao_candidatura_superior  484655 non-null  object
 9   nome                                     511105 non-null  object
 10  nome_social                              0 non-null       float64
 11  nome_urna                                511095 non-null  object
 12  numero_sequencial                        511105 non-null  int64
 13  numero_urna                              511105 non-null  int64
 14  total_votos_ac                           511105 non-null  int64
 15  total_votos_al                           511105 non-null  int64
 16  total_votos_am                           511105 non-null  int64
 17  total_votos_ap                           511105 non-null  int64
 18  total_votos_ba                           511105 non-null  int64
 19  total_votos_rj                           511105 non-null  int64
 20  total_votos_sp                           511105 non-null  int64
 21  total_votos_ce                           511105 non-null  int64
 22  total_votos_ro                           511105 non-null  int64
 23  total_votos_se                           511105 non-null  int64
 24  total_votos_pr                           511105 non-null  int64
 25  total_votos_mg                           511105 non-null  int64
 26  total_votos_mt                           511105 non-null  int64
 27  total_votos_pe                           511105 non-null  int64
 28  total_votos_pb                           511105 non-null  int64
 29  total_votos_zz                           511105 non-null  int64
 30  total_votos_go                           511105 non-null  int64
 31  total_votos_rs                           511105 non-null  int64
 32  total_votos_rn                           511105 non-null  int64
 33  total_votos_to                           511105 non-null  int64
 34  total_votos_pa                           511105 non-null  int64
 35  total_votos_ms                           511105 non-null  int64
 36  total_votos_pi                           511105 non-null  int64
 37  total_votos_ma                           511105 non-null  int64
 38  total_votos_df                           511105 non-null  int64
 39  total_votos_es                           511105 non-null  int64
 40  total_votos_rr                           511105 non-null  int64
 41  total_votos_sc                           511105 non-null  int64
 42  total_votos                              511105 non-null  int64
dtypes: float64(1), int64(34), object(8)
memory usage: 167.7+ MB

In [148]:
df_votacao.dtypes

ano_eleicao                                  int64
descricao_eleicao                           object
numero_turno                                 int64
nome_partido                                object
numero_partido                               int64
sigla_partido                               object
descricao_cargo                             object
descricao_situacao_candidatura              object
descricao_situacao_candidatura_superior     object
nome                                        object
nome_social                                float64
nome_urna                                   object
numero_sequencial                            int64
numero_urna                                  int64
total_votos_ac                               int64
total_votos_al                               int64
total_votos_am                               int64
total_votos_ap                               int64
total_votos_ba                               int64
total_votos_rj                               int64
total_votos_sp                               int64
total_votos_ce                               int64
total_votos_ro                               int64
total_votos_se                               int64
total_votos_pr                               int64
total_votos_mg                               int64
total_votos_mt                               int64
total_votos_pe                               int64
total_votos_pb                               int64
total_votos_zz                               int64
total_votos_go                               int64
total_votos_rs                               int64
total_votos_rn                               int64
total_votos_to                               int64
total_votos_pa                               int64
total_votos_ms                               int64
total_votos_pi                               int64
total_votos_ma                               int64
total_votos_df                               int64
total_votos_es                               int64
total_votos_rr                               int64
total_votos_sc                               int64
total_votos                                  int64
dtype: object

## Navegação pelo DataFrame

In [ ]:
df[coluna][linha]

## Filtros

* Comparações lógicas de ==, >, >=, <, <=, !=
* isna()
* isin()

In [ ]:
df_new = df[ filtro ]

In [ ]:
df.where(filtro).dropna(how="all")

## Renomeando Colunas

In [ ]:
df.rename_axis()

## Transformações, conversões e remoções

* Operações com escalares
* Operações entre colunas
* apply()
* funções anônimas

In [ ]:
df[coluna] * 2

In [ ]:
df[coluna1] + df[coluna2]

In [ ]:
df[coluna].apply()

## Group by & Sort by

* Operações Estatísticas: sum, mean, count, std...
* Agrupando por chave

In [ ]:
df.groupby()

## Stack e Unstack

* Empilhando e desempilhando dados

In [ ]:
df.stack()
df.unstack()
df.explode()

## Joins

* merge com left, right, inner, etc.
* 'on' como chave

* Falar de concat

In [ ]:
df1.merge(df2)

## Integração com banco de dados SQL

* Enviando query para o banco
* Consumindo tabela do banco
* Enviando dados para o banco

In [ ]:
https://www.twitch.tv/teomewhypd.read_sql()